* {
  margin: 0px;
}

.nav-container {
  background-color: black;
  display: flex;
  gap: 10rem;
  padding: 1rem 10rem;
  justify-content: space-between;
}

.nav-container a {
  color: white;
  text-decoration: none;
}